<!DOCTYPE html>
<html>
<head>
  <title>HTML5 Platformer Game</title>
  <link rel="shortcut icon" href="./icons/favicon.ico"/>
  <script>
      createjs = window;
  </script>
  <script type="text/javascript" src="./src/async.js"></script>

  <script src="./src/jquery.js"></script>
  <script src="./src/easeljs.js"></script>
  <script src="./src/socket.io.js"></script>
  <script src="./src/bootstrap.js"></script>
  <script src="./src/bootstrap-colorpicker.js"></script>

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>


  <script src="./src/easeljs/XNARectangle.js"></script>
  <script src="./src/easeljs/PlatformerHelper.js"></script>
  <script src="./src/easeljs/ContentManager.js"></script>
  <script src="./src/easeljs/Sprite.js"></script>
  <script src="./src/easeljs/ActorDefinition.js"></script>
  <script src="./src/easeljs/ProgrammableSprite.js"></script>
  <script src="./src/easeljs/Tile.js"></script>
  <script src="./src/easeljs/Player.js"></script>
  <script src="./src/easeljs/Level.js"></script>
  <script src="./src/easeljs/LibraryManager.js"></script>
  <script src="./src/easeljs/LibraryHUD.js"></script>
  <script src="./src/easeljs/GameManager.js"></script>
  <script src="./src/easeljs/PixelArtCanvas.js"></script>

  <script src="./src/angular.js"></script>
  <script src="./src/angular/directives.js"></script>
  <script src="./src/angular/rules_controller.js"></script>
  <script src="./src/angular/pixel_art_controller.js"></script>
  <script src="./src/angular/library_controller.js"></script>

  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/editor.css" rel="stylesheet" media="screen">
  <link href="/css/colorpicker.css" rel="stylesheet" media="screen">

  <script>
  var canvas;
  var stage = null;
  var globalCanvasContext;

  window.KEYCODE_SPACE = 32
  window.KEYCODE_UP = 38
  window.KEYCODE_LEFT = 37
  window.KEYCODE_RIGHT = 39
  window.KEYCODE_W = 87
  window.KEYCODE_A = 65
  window.KEYCODE_D = 68
  window.KEYCODE_S = 83



  function start() {
  	if (stage == null) {
  		//find canvas and load images, wait for last image to load
  		canvas = document.getElementById("platformerCanvas");
  		globalCanvasContext = canvas.getContext("2d");
  		stage = new Stage(canvas);

      //find canvas and load images, wait for last image to load
      renderingCanvas = document.getElementById("renderingCanvas");
      renderingStage = new Stage(renderingCanvas);
    }

    // downloading all needed images ressources and preloading sounds & music
    window.Socket = io.connect(':4430', {secure: false});
    window.Socket.on('connect', function () {
        console.log('Socket.io Connection Established.');
        window.Socket.emit('auth', { username: 'default', password: '' })
    });
    window.Socket.on('disconnect', function () {
        console.log('Socket.io Connection Lost. Trying to reconnect...');
    });

    window.Game = {}
    window.Game.Library = new LibraryManager('default');
    window.Game.Content = new ContentManager(canvas.width, canvas.height);
    window.Game.Manager = new GameManager(stage, renderingStage, canvas.width, canvas.height);
    window.Game.Content.setContentStatusCallback(window.Game.Manager.contentStatusChanged);

    window.rootScope = angular.element('body').scope()
    window.rootScope.Library = window.Game.Library
    window.rootScope.Content = window.Game.Content
    window.rootScope.Manager = window.Game.Manager
  }
  </script>
</head>

<body onload="start()" ng-app="App">

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container" style="width:1120px;margin:auto;">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Kodako</a>
<!--       <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
 -->    </div>
  </div>
</div>

<div class="container" style="width:1120px; margin:auto;">
  <div class="white-box" style="float:left;line-height:0;">
    <canvas droppable id="platformerCanvas" width="800" height="520" style="background-color:black">
      Your browser doesn't support HTML5 Canvas!
    </canvas>
  </div>

  <!-- Begin Rules Controller -->
  <script type="text/ng-template" id="rule_template.html">

    <ng-switch on="struct.type">

    <div ng-switch-when="group-event" class="rule-container event">

      <div class="header">
        <div style="float:left; width:20px;">
          <div class="circle"></div>
          <div data-ng-click="toggle_disclosed(struct)" class="triangle {{struct.disclosed}}"></div>
        </div>

        <img class="icon" data-ng-src="/img/icon_event_{{struct.event}}.png"/>
        <div class="name">{{name_for_event_group(struct)}}</div>
      </div>
      <ul class="unstyled" data-ng-hide="struct.disclosed">
        <li ng-repeat="struct in struct.rules" ng-include="'rule_template.html'"></li>
      </ul>
    </div>

    <div ng-switch-when="group-flow" class="rule-container group">
      <div class="header">
        <div style="float:left; width:20px;">
          <div class="circle"></div>
          <div data-ng-click="toggle_disclosed(struct)" class="triangle {{struct.disclosed}}"></div>
        </div>

        <select>
          <option>Do First Match</option>
          <option>Do All & Continue</option>
          <option>Randomize & Do First</option>
        </select>
        <input class="name" data-ng-model="struct.name" />
      </div>
      <ul class="unstyled" data-ng-hide="struct.disclosed">
        <li ng-repeat="struct in struct.rules" ng-include="'rule_template.html'"></li>
      </ul>
    </div>

    <div ng-switch-default class="rule-container rule" data-ng-show="!struct.type">
      <div class="circle" style="position:absolute;z-index:4;"></div>
      <div class="scenario">
        <img ng-src="{{scenario_before_url(struct)}}"/>
        <div class="arrow">-></div>
        <img ng-src="{{scenario_after_url(struct)}}"/>
      </div>

      <div data-ng-click="toggle_disclosed(struct)" class="triangle {{struct.disclosed}}"></div>
      <input class="name" data-ng-model="struct.name" />

      <ul class="unstyled" data-ng-show="!struct.disclosed && actions_for_rule(struct).length">
        <li ng-repeat="action in actions_for_rule(struct)" class="action">
          <span class="condition-value">{{action}}</span>
        </li>
      </ul>
    </div>

    </ng-switch>

  </script>


  <div class="white-box" style="float:left; width:250px;" ng-controller="RulesCtrl">
    <ul class="nav nav-tabs">
      <li><a href="#rules" data-toggle="tab">Rules</a></li>
      <li><a href="#variables" data-toggle="tab">Variables</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="rules">
        <ul class="unstyled rules-list">
          <li ng-repeat="struct in rules()" ng-include="'rule_template.html'"></li>
        </ul>
      </div>

      <div class="tab-pane" id="variables">
        <ul class="unstyled">
          <li class="variable" ng-repeat="variable in variables()">
          </li>
        </ul>
      </div>
    </div>
    <!-- End Rules Controller -->
  </div>

  <!-- Begin Library Controller -->
  <div id="library" ng-controller="LibraryCtrl">
    <div id="definitions" class="white-box" style="width:490px; float:left;">

      <div class="btn btn-mini" style="float:right;" data-ng-click="add_definition()"><i class="icon-plus"></i></div>
      <h4>{{library_name}}</h4>

      <div data-ng-show="definitions().length == 0" class="empty-message">
        You haven't defined any actors yet! Create a new actor by clicking the '+' icon.
      </div>
      <div ng-repeat="def in definitions()" data-ng-click="select_definition(def)" class="item {{class_for_definition(def)}}">
        <i draggable data-identifier="actor:{{def.identifier}}" style="{{css_for_sprite_frame(def)}}"></i>
        <input class="name" data-ng-model="def.name" data-ng-blur="save_definition(def)" />
      </div>


    </div>

    <div id="appearances" class="white-box" style="width:290px; float:left;">

      <div class="btn btn-mini" style="float:right;" data-ng-click="add_appearance()"><i class="icon-plus"></i></div>
      <h4>Appearances</h4>
      <div data-ng-show="appearances().length == 0" class="empty-message">
        Select an actor in your library to view it's appearances.
      </div>
      <div ng-repeat="(id,frames) in appearances()" class="item">
        <i draggable data-identifier="appearance:{{id}}" style="{{css_for_sprite_frame(selected_definition(), frames[0])}}" ng-dblclick="edit_appearance(id, frames[0])"></i>
        <input class="name" data-ng-blur="save_appearance_name($event)" data-identifier="{{id}}" value="{{name_for_appearance(id)}}" />
      </div>
    </div>

    <div style="clear:both;"></div>

    <div id="trashcan" droppable class="btn"><i class="icon-trash"></i></div>

  </div>
  <!-- End Library Controller -->
</div>


<!-- Begin Pixel Art Controller -->
  <div ng-controller="PixelArtCtrl" id="pixelArtModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style="width:671px;" data-backdrop="static">
    <div class="modal-header">
      <h3>Edit Appearance</h3>
    </div>
    <div class="modal-body" style="max-height:585px;">

      <div class="sidebar">

        <!-- Colors -->
        <div class="color-preview" style="background-color: {{canvas.toolColor}}"></div>
        <div ng-repeat="color in colors" class="btn color" data-color="{{color}}" data-ng-click="set_tool_color(color)">
          <i style="background-color: {{color}}"></i>
        </div>

        <div class="btn color" data-color="rgb(255, 146, 180)" data-color-format="rgb" id="cp1">
            <span class="add-on"><i></i></span>
        </div>

        <div class="divider"></div>

        <!-- Tools -->
        <div ng-repeat="tool in canvas.tools" class="btn tool icon" data-ng-click="set_tool(tool)">
          <img src="/img/tool_{{tool.name}}.png"/>
        </div>

        <!-- Undo / Redo -->

        <div class="btn icon" data-ng-disabled="!canvas.canUndo()" data-ng-click="canvas.undo()"><img src="/img/icon_undo.png"></div><div class="btn icon" data-ng-disabled="!canvas.canRedo()" data-ng-click="canvas.redo()"><img src="/img/icon_redo.png"></div>

      </div>
      <div style="float:left; width:521px;">
        <canvas id="pixelArtCanvas" width="521" height="521">
        </canvas>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" data-dismiss="modal" data-ng-click="save_editor()">Save Changes</button>
    </div>
  </div>
</div>
<!-- End Pixel Art Controller -->


<!-- Offscreen Resources for Rendering / Debugging -->
<div style="display:none;">
  <canvas id="renderingCanvas" width="300" height="300" style="background-color:black">
    Your browser doesn't support HTML5 Canvas!
  </canvas>
</div>


</body>
</html>
