
<div class="row">
  <div class="span6 offset3">
      <h3>For Parents</h3>
      <p>
      Codako is a programming environment that aims to teach children and young adults the basics of programming.</p>
	</p>
	<h4>Frequently Asked Questions</h4>
	<h5>Q: Is Codako free?</h5>
	<h5>Q: Who developed Codako?</h5>
		<p>
		Codako was developed by Ben Gotow, founder and principal at Foundry376 in Nashville, TN. The core concepts behind the "programming by demonstration" environment were developed and extensively tested by Apple's Advanced Research Group in the 1990's, and Codako is a modern re-envisioning of their platform merged with the "share and remix" concept of Github "Gists".
		</p>

	<h5>Q: Is Codako COPPA complaint?</h5>
	<h5>Q: How does the site work?</h5>
	<h5>Q: Why does my child need an account?</h5>
	<h5>Q: How do children interact on the site?</h5>
	<h5>Q: How is the site moderated?</h5>
	<h5>Q: I'd like to use Codako in my school!</h5>
  </div>
</div>