
<div class="container">
<div class="row">
  <div class="whitebox span4 offset4" style="margin-top:50px;">
    <form class="form">
      <h3>Welcome back!</h3>
      <p>Sign in to access your account. Just getting started? <a href="#sign-up">Create a free account.</a></p>

      <div class="control-group">
        <div class="controls">
          <input ng-model="credentials.nickname" type="text" id="Nickname" placeholder="Nickname"/>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input ng-model="credentials.password" type="password" id="Password" placeholder="Password"/>
          <div><a href="#">Forgot your password?</a></div>
        </div>
      </div>

      <button class="btn btn-primary" ng-click="signIn()">Sign In</button>

    </form>
  </div>
</div>
</div>