
<div class="row">
	<div class="span12" style="background-color: #466F7E; position:relative; z-index:-1; top:-22px;">

		<div style="position:absolute; z-index:-2; background:url({{stages[stages.length-1].thumbnail}}) center center; background-size:cover; -webkit-filter: blur(5px); display:block; width:100%; height:100%;"></div>

		<div style="position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.3);"></div>

		<div style="padding:25px; padding-top:90px;">
			<div style="float:right; display:inline-block; margin-top:20px;">
				<a ng-click="publish()" class="btn btn-large btn-success"><i class="icon-pencil"></i> {{publish_action_text()}}</a>
			</div>

			<div style="margin-left:20px;">
				<h3 style="margin-bottom:0; color:white;">{{world.title}}</h3>
				<div style="color:rgba(255,255,255,0.7);">{{world.description}}</div>
			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="stages-collection">
		<div ng-repeat="stage in stages" class="span4 stage">
			<a ng-click="open_stage(stage)">
				<img ng-src="{{stage.thumbnail}}" />
			</a>
		</div>
		<a class="span4 new-item" ng-click="new_stage()"><div>+ New Stage</div></a>
	</div>
</div>


<div id="editDetailsModal"
	class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" ng-cloak>
	<div class="modal-header"><h4>Edit World</h4></div>
	<div class="modal-body">
		<div class="alert" ng-show="edit_message">{{edit_message}}</div>

		<form class="form-horizontal">
		  <div class="control-group">
		    <label class="control-label" for="Title">Title</label>
		    <div class="controls">
		      <input type="text" id="Title" ng-model="world.title" placeholder="Title">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="Description">Description</label>
		    <div class="controls">
		      <textarea id="Description" ng-model="world.description"></textarea>
		    </div>
		  </div>
		</form>

	</div>
	<div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <button ng-click="edit_details_save()" class="btn btn-primary">Save Changes</button>
	</div>
</div>

<div id="publishModal"
	class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" ng-cloak>
</div>



	<div class="span12">
		<h4>Library</h4>
		<div ng-show="actors.length" class="actors-collection">
			<div ng-repeat="actor in actors" class="span3">
				<h4>{{actor._id}}</h4>
			</div>
		</div>
	</div>
