/.DS_Store
*.DS_Store
/server/dump.rdb
/node_modules
web/stage-editor/src/angular/*.js
/ssl
/web/css/main.css
*_controller.js

/web/stage-editor/src/models/ActorDefinition.js
/web/stage-editor/src/models/ActorSprite.js
/web/stage-editor/src/models/ContentManager.js
/web/stage-editor/src/models/GameManager.js
/web/stage-editor/src/models/GameStage.js
/web/stage-editor/src/models/GroupRule.js
/web/stage-editor/src/models/HandleSprite.js
/web/stage-editor/src/models/LibraryManager.js
/web/stage-editor/src/models/PixelArtCanvas.js
/web/stage-editor/src/models/Rule.js
/web/stage-editor/src/models/Sprite.js
/web/stage-editor/src/models/SquareMaskSprite.js
/web/stage-editor/src/models/XNARectangle.js
/web/stage-editor/src/extensions.js