/.DS_Store
*.DS_Store


/server/dump.rdb
/client/css/editor.css
/server/node_modules
/client/src/extensions.js
/client/src/models/XNARectangle.js
/client/src/models/SquareMaskSprite.js
/client/src/models/Sprite.js
/client/src/models/ActorSprite.js
/client/src/models/PixelArtCanvas.js
/client/src/models/LibraryManager.js
/client/src/models/HandleSprite.js
/client/src/models/GameStage.js
/client/src/models/GameManager.js
/client/src/models/ContentManager.js
/client/src/models/ActorDefinition.js
/client/src/angular/rules_controller.js
/client/src/angular/pixel_art_controller.js
/client/src/angular/library_controller.js
/client/src/angular/controls_controller.js
/client/src/angular/compose_rule_controller.js

/client/src/angular/variables_controller.js
/client/src/models/Rule.js
/website/node_modules