body {
  background:url(/img/background.png) top left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h4 {
  margin:3px;
  margin-right:4px;
  margin-left:4px;
}

.modal-body {
  padding:10px;
}
.white-box {
  background-color:white;
  margin:5px;
  padding:5px;
  display:inline-block;
  box-shadow: 0px 1px 5px #888;
}

.dropdown-menu {
  z-index:2000;
}

.rules-list {

}

.rules-list .name {
  display:inline-block;
  font-size:1.0em;
  line-height:1.2em;
  font-weight: bold;
  padding:0;
  padding-left:4px;
  padding-right:4px;
  margin-bottom:4px;
  color: #222;
  text-shadow: 0px 1px rgba(255,255,255,0.4);
  background-color: transparent;
  border:1px solid transparent;
  width:160px;
}

.rules-list input.name:hover,
.rules-list input.name:focus {
  background-color: rgba(255,255,255,0.3);
  border:1px solid rgba(255,255,255,0.5);
  outline: none;
}

.rules-list .rule-container {
  padding:5px;
  padding-top:2px;
  margin-bottom:5px;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: 2px solid rgba(255,255,255,0.4);
  -moz-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.4);
  -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.4);
  box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.4);
}

.rules-list .rule-container .header {
  height:40px;
}

.rules-list .rule-container select {
  background-color: transparent;
  width:190px;
  border:none;
  font-weight:bold;
  height:19px;
  outline: none;
  color:#222;
  margin:0;
  padding:0;
}

.rules-list .rule-container .circle {
  display:inline-block;
  width:12px;
  height:12px;
  margin-top:3px;
  border-radius:12px;
  background-color: gray;
  border:1px solid rgba(0,0,0,0.2);
}

.rules-list .rule-container .circle.true {
  background-color: green;
  border:1px solid rgba(0,0,0,0.2);
}

.rules-list .rule-container .icon {
  width:32px;
  height:32px;
  padding-top:1px;
  float:left;
}
.rules-list .rule-container ul {
  background-color: rgba(0,0,0,0.3);
  padding-top:7px;
  padding-bottom:2px;
  -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.4);
}

.rules-list .rule-container .triangle {
  display:inline-block;
  width: 0px;
  height: 0px;
  margin-left:2px;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: rgba(0,0,0,0.4) transparent transparent transparent;
}

.rules-list .rule-container .triangle.disclosed {
  border-width: 6px 0 6px 10.4px;
  border-color: transparent transparent transparent rgba(0,0,0,0.4);
}

.rules-list .rule-container.event {
  background-color:#5BC15C;
}
.rules-list .rule-container.group {
  background-color:#4B91B3;
}

.rules-list .rule {
  background-color:#ddd;
  margin-bottom:3px;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: 2px solid rgba(255,255,255,0.6);
  -moz-box-shadow: inset 0 0 2px 0px rgba(255,255,255,0.4);
  -webkit-box-shadow: inset 0 0 2px 0px rgba(255,255,255,0.4);
  box-shadow: inset 0 0 2px 0px rgba(255,255,255,0.4);
}

.rule .scenario {
  display: block;
  text-align: center;
  margin-bottom:3px;
}

.rule .scenario .arrow {
  display:inline-block;
  font-weight:bold;
  font-size:1.2em;
  color:#555;
}
.rule .scenario img {
  max-width:45%;
  padding:4px;
}

.rule .action {
  margin-left:3px;
  margin-right:3px;
  background-color: #E8B432;
}

.empty-message {
  text-align:center;
  display:block;
  font-size:0.9em;
  margin-top:17px;
  color: #aaa;
}

.btn.color {
  width:24px;
  height:24px;
  padding:1px;
  border-radius: 5px;
  margin:1px;
}

.btn.icon {
  padding:6px;
  margin-right:6px;
  margin-top:6px;
}
.btn.icon img {
  width:40px;
  height:40px;
}

.btn.color i {
  border-radius: 3px;
}

#pixelArtModal .sidebar {
  float:left;
  width:120px;
  padding-right:8px;
}

.divider {
  clear:both;
  height:1px;
  border:1px solid #ccc;
  margin-top:10px;
  margin-bottom:10px;
}

.color-preview {
  width: 114px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

#library .name {
  width:54px;
  border:0;
  height:1.4em;
  text-align: center;
  background-color:transparent;
  font-size: 0.85em;
}

#library .name:focus {
  border: 1px solid #ccc;
  outline: none;
  background-color:rgba(255,255,255,0.6);
}

#library #definitions,
#library #appearances {
  min-height:100px;
}

#library #definitions i,
#library #appearances i {
  display:inline-block;
  font-size:0.8em;
  font-weight:bold;
  color:#444;
}

#library #definitions .item,
#library #appearances .item {
  display:inline-block;
  text-align: center;
  padding-top:5px;
  width:65px;
  height:65px;
  line-height:14px;
}

#library .active {
  background-color: rgba(100,100,255,0.4);
}