
<div class="row">
  <div class="whitebox span6 offset3">
    <form class="form">
      <h3>Welcome back!</h3>
      <p>Sign in to access your account. Just getting started? <a href="#sign-up">Create a free account.</a></p>

      <div class="control-group">
        <div class="controls">
          <input ng-model="credentials.email" type="text" id="Email Address" placeholder="Email Address"/>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input ng-model="credentials.password" type="password" id="Password" placeholder="Password"/>
          <div><a href="#">Forgot your password?</a></div>
        </div>
      </div>

      <div style="float:right;">
        <button class="btn btn-primary" ng-click="signIn()">Sign In</button>
      </div>

    </form>
  </div>
</div>