
<div class="row">
	<h3>{{world.title}}</h3>
	<p>{{world.description}}</p>

	<div class="span12">
		<div style="float:right; display:inline-block;">
			<a ng-click="newStage()" class="btn btn-primary"><i class="icon-pencil"></i> New Stage</a>
		</div>
		<h4>Stages</h4>
		<div ng-show="stages.length" class="stages-collection">
			<div ng-repeat="stage in stages" class="span3">
				<a ng-click="openStage(stage)"><img ng-src="{{stage.thumbnail}}" style="width:240px; height:156px;"/></a>
			</div>
		</div>
	</div>

	<div class="span12">
		<h4>Library</h4>
		<div ng-show="actors.length" class="actors-collection">
			<div ng-repeat="actor in actors" class="span3">
				<h4>{{actor._id}}</h4>
			</div>
		</div>
	</div>

</div>

