<img src="{{start_state_src()}}" style="float:left; width:80px; height:52px;"/>
<button ng-click="reset_to_start_state()" class="btn" style="float:left; margin-top:12px;"><i class="icon-repeat"></i> Reset</button>
<button ng-click="set_start_state()" class="btn" style="float:left; margin-top:12px;"><i class="icon-repeat"></i> Set</button>

<div class="center">
  <button ng-click="step_back()" class="btn btn-mini" style="margin-right:4px; margin-top:1px;"><i class="icon-step-backward"></i> Back</button>
  <button ng-click="set_running(false)" class="{{class_for_btn(!running())}}"><i class="icon-stop"></i> Stop</button>
  <button ng-click="set_running(true)" class="{{class_for_btn(running())}}"><i class="icon-play"></i> Run</button>
  <button ng-click="step()" class="btn btn-mini"  style="margin-left:4px; margin-top:1px;"><i class="icon-step-forward"></i> Forward</button>
</div>

<div class="btn-group right">
  <button ng-click="set_speed(1000)" class="{{class_for_btn(1000==speed())}}">Slow</button>
  <button ng-click="set_speed(500)" class="{{class_for_btn(500==speed())}}">Med.</button>
  <button ng-click="set_speed(200)" class="{{class_for_btn(200==speed())}}">Fast</button>
</div>
