<div style="position:absolute;z-index:1000;">
  <a style="position:relative;left:212px;top:-37px;" class="btn" ng-click="add_variable()" ng-show="variables()">
    <i class="icon-inbox"></i> Add</span>
  </a></div>
  <div class="variables-container">
    <div ng-show="variables().length == 0" class="empty-message">
      Select an actor in your library or on the stage to define it's variables.
    </div>

    <div draggable='{"revert":"invalid","scope":"variable"}' class="variable-box" ng-repeat="(id, variable) in variables()" data-identifier="variable:{{id}}" style="{{css_for_variable(variable)}}" ng-click="variable_clicked(variable)">
      <div class="name" ng-dblclick="edit_variable_attr($event, 'name')">{{variable.name}}</div>
      <input class="name" style="display:none;" ng-blur="save_variable_attr($event, 'name')" value="{{variable.name}}">

      <div class="value" ng-dblclick="edit_variable_attr($event, 'value')">{{value_for_variable(id)}}</div>
      <input class="value" style="display:none;" ng-blur="save_variable_attr($event, 'value')" value="{{value_for_variable(id)}}">
    </div>
  </div>
</div>