<div class="modal-header">
  <div style="float:left;">
    <h3>Edit Appearance</h3>
  </div>
  <div style="float:right;">
    <!--Undo, Redo buttons-->
    <div class="btn icon" ng-disabled="!canvas.canUndo()" ng-click="canvas.undo()"><img src="./img/icon_undo.png"></div>
    <div class="btn icon" ng-disabled="!canvas.canRedo()" ng-click="canvas.redo()"><img src="./img/icon_redo.png"></div>

    <!--Copy, Paste Buttons-->
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" style="padding-top:6px; margin-top:4px; padding-bottom:7px;">
        <i class="icon-gear"></i> Actions <span class="caret"></span></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-class="{disabled: !canvas.canCopy()}"><a ng-click="copy()"><i class="icon-copy"></i> Copy <div class="key-equivalent">&#x2318;-C</div></a></li>
        <li ng-class="{disabled: !canvas.canPaste()}"><a ng-click="paste()"><i class="icon-paste"></i> Paste <div class="key-equivalent">&#x2318;-V</div></a></li>
        <li class="divider"></li>
        <li><a ng-click="rotate(-90)"><i class="icon-undo"></i> Rotate Left</a></li>
        <li><a ng-click="rotate(90)"><i class="icon-repeat"></i> Rotate Right</a></li>
        <li><a ng-click="flip('x')"><i class="icon-resize-horizontal"></i> Flip Horizontally</a></li>
        <li><a ng-click="flip('y')"><i class="icon-resize-vertical"></i> Flip Vertically</a></li>
        <li class="divider"></li>
        <li><a ng-mouseover="prepare_download_href($event)" download="image.jpg"><i class="icon-cloud-download"></i> Download Image</a></li>
      </ul>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>

<div class="modal-body" style="max-height:585px;">

  <div class="sidebar">

    <!-- Colors -->
    <div class="btn color color-preview" style="background-color: {{canvas.toolColor}}" data-color="{{canvas.toolColor}}" data-color-format="rgb" id="cp1">
        <span class="add-on"><i></i></span>
    </div>
    <div ng-repeat="color in colors" class="btn color" data-color="{{color}}" ng-click="set_tool_color(color)">
      <i style="background-color: {{color}}"></i>
    </div>

    <div class="divider"></div>

    <!-- Tools -->
    <div ng-repeat="tool in canvas.tools" class="{{css_for_tool(tool)}}" ng-click="set_tool(tool)">
      <img ng-src="./img/tool_{{tool.name}}.png"/>
    </div>

  </div>

  <div style="float:left; width:521px;">
    <canvas id="pixelArtCanvas" width="521" height="521">
    </canvas>
  </div>

</div>

<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="close_editor()">Close without Saving</button>
  <button class="btn btn-primary" data-dismiss="modal" ng-click="save_editor()">Save Changes</button>
</div>
